.page-home {
    padding: 30px 500px 0px 500px;
}

.home-button {
    width: 100%;
    padding: 15px;
}

.home {
    padding:30px 500px 0px 500px;
}

.body {
    background-color: rgba(191, 241, 235, 0.562);
}

