/*.page-home {
    padding: 30px 500px 0px 500px;
}

.home-button {
    width: 100%;
    padding: 15px;
}

.home {
    padding:30px 500px 0px 500px;
}

.body {
    background-color: rgba(191, 241, 235, 0.562);
}*/

/*.style-1 input[type="text"] {
    padding: 10px;
    border: solid 1px #dcdcdc;
    margin:30px; 
    transition: box-shadow 0.3s, border 0.3s;
  }
  
  .style-1 input[type="text"]:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
  }
  
  .style-1 select {
    padding: 10px;
    border: solid 1px #dcdcdc;
    margin:0px 25px 0px 27px; 
    width: 290px;
    transition: box-shadow 0.3s, border 0.3s;
  }
  
  .style-1 select:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
  }*/
  
